name: CI-CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build application with Maven
        run: mvn clean package -DskipTests

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: jobapp-jar
          path: target/*.jar

  deploy-dev:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: jobapp-jar

      - name: Rename artifact
        run: mv *.jar app.jar

      - name: Copy JAR to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "app.jar"
          target: "/opt/apps/jobapp"

      - name: Restart application on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            echo "Stopping old app (if any)"
            if [ -f /opt/apps/jobapp/run/app.pid ]; then
              kill $(cat /opt/apps/jobapp/run/app.pid) || true
              rm -f /opt/apps/jobapp/run/app.pid
            fi

            echo "Starting new app"
            nohup java -jar /opt/apps/jobapp/app.jar \
              > /opt/apps/jobapp/logs/app.log 2>&1 &
            echo $! > /opt/apps/jobapp/run/app.pid
